body {
  margin: 0;
  font: 16px/1 sans-serif;
  background-color: #318435;
  color: #fff;
  text-align: center;
 }
 header{
  width:100%;
  padding: 15px;
  text-align: center;
  background-color: #000;
 }
 h1{
  font-size: 18px;
 }
 h2{
  font-size: 16px;
 }
 .atm{
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background-color: #000;
  text-align: center;
  margin: 10px auto 0 auto;
  padding: 20px;
 }
 .atm input{
  font-size:25px;
  width: 180px
 }
 .atm button{
  margin: 5px;
  padding: 20px;
 }